@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body::-webkit-scrollbar {
  display: none;
}
nav {
  background: linear-gradient(to left, #176944, #125838, #0c4129);
  height: 12vh;
  width: 100%;
  position: relative;
}
nav .navigation {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8vw;
}
nav .navigation h1 {
  font-size: 20px;
  color: #fff;
  z-index: 99;
}
nav .navigation .hamburger {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  z-index: 99999;
}
nav .navigation .hamburger span {
  width: 22px;
  height: 2px;
  background: #fff;
  display: inline-block;
}

nav .navigation .logo {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 999999999;
  justify-content: center;
  align-items: center;
}
.navigation .logo > img {
  height: 50px;
  width: 70px;
}
.border {
  /* height: 80vh; */
  width: 100%;
  background: linear-gradient(to left, #176944, #125838, #0c4129);
  position: absolute;
  top: 0;
  z-index: 9;
}
.page1 {
  height: 80%;
  width: 100%;
}
.page1 .swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.page1 .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page1 .swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page2,
.page3,
.page4,
.page5 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.page2 .center-content,
.page3 .center-content,
.page4 .center-content,
.page5 .center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.page2 .center-content h3,
.page3 .center-content h3,
.page4 .center-content h3,
.page5 .center-content h3,
.page2 .center-content h1,
.page3 .center-content h1,
.page4 .center-content h1,
.page5 .center-content h1 {
  color: #fff;
}
.center-content h3 {
  text-transform: uppercase;
  font: 400 20px "cursive";
}

.center-content h1 {
  text-transform: capitalize;
  font: 400 100px "Garamond";
}

.page1 .video {
  height: 100%;
  width: 100%;
}
.page6 {
  height: 5vh;
  width: 100%;
  padding: 2vw 8vw;
}
.page6 .socalmedia {
  width: 100%;
  font-size: 20px;
  display: flex;
  gap: 20px;
}
.page6 .socalmedia h4 {
  color: black;
}
.page6 .socalmedia .socialLink {
  display: flex;
  gap: 20px;
  color: #0c4129;
}
